In [ ]:
import numpy as np
import pandas as pd

In [ ]:
salon = pd.read_csv('Salon.csv')
user = pd.read_csv('User.csv')
rating = pd.read_csv('Ratings.csv')

In [ ]:
rating

    userid  salonid  ratings
0        0        1        1
1        1        2        2
2        2        3        4
3        3        4        5
4        4        5        4
5        5        6        3
6        6        7        2
7        7        8        4
8        8        9        3
9        9       10        4
10      10       11        5
11      11       12        5
12      12       13        3
13      13       14        4
14      14       15        5
15      15       16        3
16      16       17        2
17      17       18        2
18      18       19        3
19      19       20        5
20      20       21        1
21      21       22        1
22      22       23        2
23      23       24        2
24      24       25        3
25      25       26        4
26      26       27        5
27      27       28        1
28      28       29        2
29      29       30        1
30      30       31        1
31      31       32        1
32      32       33        1
33      33       34        1
34      34       35        1
35      35       36        1
36      36       37        1
37      37       38        1
38      38       39        1

In [ ]:
user

    userid   location        age
0        0      patan  23.000000
1        1   kumaltar  32.000000
2        2  satdobato  13.000000
3        3     balkhu  23.000000
4        4     sanepa  43.000000
5        5     thamel  22.000000
6        6      patan  29.800000
7        7   kumaltar  30.885714
8        8  satdobato  31.971429
9        9     balkhu  33.057143
10      10     sanepa  34.142857
11      11     thamel  35.228571
12      12      patan  36.314286
13      13   kumaltar  37.400000
14      14  satdobato  38.485714
15      15     balkhu  39.571429
16      16     sanepa  40.657143
17      17     thamel  41.742857
18      18      patan  42.828571
19      19   kumaltar  43.914286
20      20  satdobato  45.000000
21      21     balkhu  46.085714
22      22     sanepa  47.171429
23      23     thamel  48.257143
24      24      patan  49.342857
25      25   kumaltar  50.428571
26      26      patan  51.514286
27      27   kumaltar  52.600000
28      28  satdobato  53.685714
29      29     balkhu  54.771429
30      30     sanepa  55.857143
31      31     thamel  56.942857
32      32      patan  58.028571
33      33   kumaltar  59.114286
34      34  satdobato  60.200000
35      35     balkhu  61.285714
36      36     sanepa  62.371429
37      37     thamel  63.457143

In [ ]:
rating

    userid  salonid  ratings
0        0        1        1
1        1        2        2
2        2        3        4
3        3        4        5
4        4        5        4
5        5        6        3
6        6        7        2
7        7        8        4
8        8        9        3
9        9       10        4
10      10       11        5
11      11       12        5
12      12       13        3
13      13       14        4
14      14       15        5
15      15       16        3
16      16       17        2
17      17       18        2
18      18       19        3
19      19       20        5
20      20       21        1
21      21       22        1
22      22       23        2
23      23       24        2
24      24       25        3
25      25       26        4
26      26       27        5
27      27       28        1
28      28       29        2
29      29       30        1
30      30       31        1
31      31       32        1
32      32       33        1
33      33       34        1
34      34       35        1
35      35       36        1
36      36       37        1
37      37       38        1
38      38       39        1

In [ ]:
salon

,salonid,Name,ovner,year,co_found,image_url
0,1,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
1,2,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
2,3,mahesh Unisex,Bibek,2002,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
3,4,Bijay unisex,Bijay,2002,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
4,5,Manandhar unisex,Sajain,2005,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
5,6,Shahi unisex,prependra,2009,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
6,7,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
7,8,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
8,9,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
9,10,mahesh Unisex,Bibek,2004,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
10,11,Bijay unisex,Bijay,2005,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
11,12,Manandhar unisex,Sajain,2006,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
12,13,Shahi unisex,prependra,2007,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
13,14,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
14,15,Nature Makeover,Bibek,2009,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
15,16,anjalin unisex,anjali,2010,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
16,17,mahesh Unisex,Bibek,2011,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
17,18,Bijay unisex,Bijay,2012,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
18,19,Manandhar unisex,Sajain,2013,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
19,20,Shahi unisex,prependra,2014,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
20,21,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
21,22,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
22,23,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
23,24,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
24,25,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
25,26,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
26,27,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
27,28,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
28,29,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
29,30,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
30,31,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
31,32,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
32,33,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
33,34,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
34,35,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
35,36,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
36,37,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
37,38,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
38,39,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...

# Popularity based recommendation System

In [ ]:
retings

NameError: name 'retings' is not defined

In [ ]:
ratings

NameError: name 'ratings' is not defined

In [ ]:
ratings.merge(salon,on='salonid')

NameError: name 'ratings' is not defined

In [ ]:
rating.merge(salon,on='salonid').shape

(39, 8)

In [ ]:
num_rating_df = ratings_with_name.groupby('Name').count()['ratings'].reset_index()
num_rating_df.rename(columns={'ratings':'num_ratings'},inplace=True)
num_rating_df

NameError: name 'ratings_with_name' is not defined

In [ ]:
ratings_with_name =ratings.merge(salon,on='salonid')

NameError: name 'ratings' is not defined

In [ ]:
ratings_with_name =rating.merge(salon,on='salonid')

In [ ]:
avg_rating_df = ratings_with_name.groupby('Name').mean()['ratings'].reset_index()
avg_rating_df.rename(columns={'ratings':'avg_rating'},inplace=True)
avg_rating_df

C:\Users\Mahesh lamsal\AppData\Local\Temp\ipykernel_9436\177070954.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby('Name').mean()['ratings'].reset_index()

               Name  avg_rating
0      Bijay unisex    2.833333
1       Hamro salon    1.800000
2  Manandhar unisex    3.400000
3   Nature Makeover    2.333333
4     Shahi unisex     3.400000
5    anjalin unisex    2.000000
6     mahesh Unisex    2.333333

In [ ]:
popular_df = num_rating_df.merge(avg_rating_df,on='Name')
popular_df

NameError: name 'num_rating_df' is not defined

In [ ]:
popular_df = num_rating_df.merge(avg_rating_df,on='Name')
popular_df

NameError: name 'num_rating_df' is not defined

In [ ]:
avg_rating_df = ratings_with_name.groupby('Name').mean()['ratings'].reset_index()
avg_rating_df.rename(columns={'ratings':'avg_rating'},inplace=True)
avg_rating_df

C:\Users\Mahesh lamsal\AppData\Local\Temp\ipykernel_9436\177070954.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby('Name').mean()['ratings'].reset_index()

               Name  avg_rating
0      Bijay unisex    2.833333
1       Hamro salon    1.800000
2  Manandhar unisex    3.400000
3   Nature Makeover    2.333333
4     Shahi unisex     3.400000
5    anjalin unisex    2.000000
6     mahesh Unisex    2.333333

In [ ]:
num_rating_df = ratings_with_name.groupby('Name').count()['ratings'].reset_index()
num_rating_df.rename(columns={'ratings':'num_ratings'},inplace=True)
num_rating_df

               Name  num_ratings
0      Bijay unisex            6
1       Hamro salon            5
2  Manandhar unisex            5
3   Nature Makeover            6
4     Shahi unisex             5
5    anjalin unisex            6
6     mahesh Unisex            6

In [ ]:
popular_df = num_rating_df.merge(avg_rating_df,on='Name')
popular_df

               Name  num_ratings  avg_rating
0      Bijay unisex            6    2.833333
1       Hamro salon            5    1.800000
2  Manandhar unisex            5    3.400000
3   Nature Makeover            6    2.333333
4     Shahi unisex             5    3.400000
5    anjalin unisex            6    2.000000
6     mahesh Unisex            6    2.333333

In [ ]:
popular_df = popular_df[popular_df['num_ratings']>=6].sort_values('avg_rating',ascending=False).head(2)

In [ ]:
popular_df = popular_df.merge(books,on='Name').drop_duplicates('Name')[['Name','ovner','image_url','num_ratings','avg_rating']]

NameError: name 'books' is not defined

In [ ]:
popular_df = popular_df.merge(Salon,on='Name').drop_duplicates('Name')[['Name','ovner','image_url','num_ratings','avg_rating']]

NameError: name 'Salon' is not defined

In [ ]:
popular_df = popular_df.merge(salon,on='Name').drop_duplicates('Name')[['Name','ovner','image_url','num_ratings','avg_rating']]

In [ ]:
popular_df = popular_df[popular_df['num_ratings']>=1]

In [ ]:
popular_df

,Name,ovner,image_url,num_ratings,avg_rating
0,Bijay unisex,Bijay,https://lh5.googleusercontent.com/p/AF1QipNdy0...,6,2.833333
6,Nature Makeover,Bibek,https://lh5.googleusercontent.com/p/AF1QipOfC8...,6,2.333333

In [ ]:
ratings_with_name.groupby('userid').count()

In [ ]:
ratings_with_name.groupby('userid').count()['ratings']

userid
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
Name: ratings, dtype: int64

In [ ]:
ratings_with_name.groupby('userid').count()['ratings']>1

userid
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
Name: ratings, dtype: bool

In [ ]:
ratings_with_name.groupby('userid').count()['ratings']>0

In [ ]:
ratings_with_name.groupby('userid').count()['ratings']

userid
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
Name: ratings, dtype: int64

In [ ]:
x = ratings_with_name.groupby('userid').count()['ratings > 0
padhe_likhe_users = x[x].index

SyntaxError: unterminated string literal (detected at line 1) (3115285554.py, line 1)

In [ ]:
x= ratings_with_name.groupby('userid').count()['ratings']>0

In [ ]:
padhe_likhe_users = x[x].index

In [ ]:
ratings_with_name[ratings_with_name['userid'].isin(padhe_likhe_users)]

,userid,salonid,ratings,Name,ovner,year,co_found,image_url
0,0,1,1,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
1,1,2,2,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
2,2,3,4,mahesh Unisex,Bibek,2002,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
3,3,4,5,Bijay unisex,Bijay,2002,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
4,4,5,4,Manandhar unisex,Sajain,2005,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
5,5,6,3,Shahi unisex,prependra,2009,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
6,6,7,2,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
7,7,8,4,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
8,8,9,3,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
9,9,10,4,mahesh Unisex,Bibek,2004,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
10,10,11,5,Bijay unisex,Bijay,2005,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
11,11,12,5,Manandhar unisex,Sajain,2006,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
12,12,13,3,Shahi unisex,prependra,2007,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
13,13,14,4,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
14,14,15,5,Nature Makeover,Bibek,2009,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
15,15,16,3,anjalin unisex,anjali,2010,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
16,16,17,2,mahesh Unisex,Bibek,2011,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
17,17,18,2,Bijay unisex,Bijay,2012,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
18,18,19,3,Manandhar unisex,Sajain,2013,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
19,19,20,5,Shahi unisex,prependra,2014,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
20,20,21,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
21,21,22,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
22,22,23,2,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
23,23,24,2,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
24,24,25,3,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
25,25,26,4,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
26,26,27,5,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
27,27,28,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
28,28,29,2,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
29,29,30,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
30,30,31,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
31,31,32,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
32,32,33,1,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
33,33,34,1,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
34,34,35,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
35,35,36,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
36,36,37,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
37,37,38,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
38,38,39,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...

In [ ]:
filtered_rating =ratings_with_name[ratings_with_name['userid'].isin(padhe_likhe_users)]

In [ ]:
filtered_rating

,userid,salonid,ratings,Name,ovner,year,co_found,image_url
0,0,1,1,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
1,1,2,2,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
2,2,3,4,mahesh Unisex,Bibek,2002,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
3,3,4,5,Bijay unisex,Bijay,2002,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
4,4,5,4,Manandhar unisex,Sajain,2005,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
5,5,6,3,Shahi unisex,prependra,2009,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
6,6,7,2,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
7,7,8,4,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
8,8,9,3,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
9,9,10,4,mahesh Unisex,Bibek,2004,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
10,10,11,5,Bijay unisex,Bijay,2005,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
11,11,12,5,Manandhar unisex,Sajain,2006,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
12,12,13,3,Shahi unisex,prependra,2007,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
13,13,14,4,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
14,14,15,5,Nature Makeover,Bibek,2009,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
15,15,16,3,anjalin unisex,anjali,2010,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
16,16,17,2,mahesh Unisex,Bibek,2011,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
17,17,18,2,Bijay unisex,Bijay,2012,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
18,18,19,3,Manandhar unisex,Sajain,2013,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
19,19,20,5,Shahi unisex,prependra,2014,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
20,20,21,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
21,21,22,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
22,22,23,2,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
23,23,24,2,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
24,24,25,3,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
25,25,26,4,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
26,26,27,5,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
27,27,28,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
28,28,29,2,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
29,29,30,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
30,30,31,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
31,31,32,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
32,32,33,1,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
33,33,34,1,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
34,34,35,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
35,35,36,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
36,36,37,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
37,37,38,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
38,38,39,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...

In [ ]:
filtered_rating.groupby('name').count()['rating']

KeyError: 'name'

In [ ]:
filtered_rating.groupby('Name').count()['rating']

KeyError: 'rating'

In [ ]:
filtered_rating.groupby('Name').count()['ratings']

Name
Bijay unisex        6
Hamro salon         5
Manandhar unisex    5
Nature Makeover     6
Shahi unisex        5
anjalin unisex      6
mahesh Unisex       6
Name: ratings, dtype: int64

In [ ]:
y =filtered_rating.groupby('Name').count()['ratings']>=1

In [ ]:
y[y]

Name
Bijay unisex        True
Hamro salon         True
Manandhar unisex    True
Nature Makeover     True
Shahi unisex        True
anjalin unisex      True
mahesh Unisex       True
Name: ratings, dtype: bool

In [ ]:
famous_salon=y[y].index

In [ ]:
famous_salon

Index(['Bijay unisex', 'Hamro salon', 'Manandhar unisex', 'Nature Makeover',
       'Shahi unisex ', 'anjalin unisex', 'mahesh Unisex'],
      dtype='object', name='Name')

In [ ]:
filtered_rating[filtered_rating['Name'].isin(famous_salon)]

,userid,salonid,ratings,Name,ovner,year,co_found,image_url
0,0,1,1,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
1,1,2,2,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
2,2,3,4,mahesh Unisex,Bibek,2002,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
3,3,4,5,Bijay unisex,Bijay,2002,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
4,4,5,4,Manandhar unisex,Sajain,2005,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
5,5,6,3,Shahi unisex,prependra,2009,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
6,6,7,2,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
7,7,8,4,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
8,8,9,3,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
9,9,10,4,mahesh Unisex,Bibek,2004,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
10,10,11,5,Bijay unisex,Bijay,2005,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
11,11,12,5,Manandhar unisex,Sajain,2006,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
12,12,13,3,Shahi unisex,prependra,2007,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
13,13,14,4,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
14,14,15,5,Nature Makeover,Bibek,2009,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
15,15,16,3,anjalin unisex,anjali,2010,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
16,16,17,2,mahesh Unisex,Bibek,2011,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
17,17,18,2,Bijay unisex,Bijay,2012,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
18,18,19,3,Manandhar unisex,Sajain,2013,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
19,19,20,5,Shahi unisex,prependra,2014,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
20,20,21,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
21,21,22,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
22,22,23,2,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
23,23,24,2,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
24,24,25,3,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
25,25,26,4,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
26,26,27,5,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
27,27,28,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
28,28,29,2,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
29,29,30,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
30,30,31,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
31,31,32,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
32,32,33,1,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
33,33,34,1,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
34,34,35,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
35,35,36,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
36,36,37,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
37,37,38,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
38,38,39,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...

In [ ]:
final_ratings=filtered_rating[filtered_rating['Name'].isin(famous_salon)]

In [ ]:
final_ratings

,userid,salonid,ratings,Name,ovner,year,co_found,image_url
0,0,1,1,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
1,1,2,2,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
2,2,3,4,mahesh Unisex,Bibek,2002,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
3,3,4,5,Bijay unisex,Bijay,2002,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
4,4,5,4,Manandhar unisex,Sajain,2005,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
5,5,6,3,Shahi unisex,prependra,2009,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
6,6,7,2,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
7,7,8,4,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
8,8,9,3,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
9,9,10,4,mahesh Unisex,Bibek,2004,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
10,10,11,5,Bijay unisex,Bijay,2005,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
11,11,12,5,Manandhar unisex,Sajain,2006,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
12,12,13,3,Shahi unisex,prependra,2007,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
13,13,14,4,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
14,14,15,5,Nature Makeover,Bibek,2009,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
15,15,16,3,anjalin unisex,anjali,2010,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
16,16,17,2,mahesh Unisex,Bibek,2011,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
17,17,18,2,Bijay unisex,Bijay,2012,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
18,18,19,3,Manandhar unisex,Sajain,2013,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
19,19,20,5,Shahi unisex,prependra,2014,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
20,20,21,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
21,21,22,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
22,22,23,2,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
23,23,24,2,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
24,24,25,3,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
25,25,26,4,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
26,26,27,5,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
27,27,28,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
28,28,29,2,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
29,29,30,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
30,30,31,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
31,31,32,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
32,32,33,1,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
33,33,34,1,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
34,34,35,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
35,35,36,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
36,36,37,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
37,37,38,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
38,38,39,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...

In [ ]:
final_ratings.drop_duplicates()

,userid,salonid,ratings,Name,ovner,year,co_found,image_url
0,0,1,1,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
1,1,2,2,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
2,2,3,4,mahesh Unisex,Bibek,2002,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
3,3,4,5,Bijay unisex,Bijay,2002,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
4,4,5,4,Manandhar unisex,Sajain,2005,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
5,5,6,3,Shahi unisex,prependra,2009,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
6,6,7,2,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
7,7,8,4,Nature Makeover,Bibek,2002,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
8,8,9,3,anjalin unisex,anjali,2003,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
9,9,10,4,mahesh Unisex,Bibek,2004,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
10,10,11,5,Bijay unisex,Bijay,2005,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
11,11,12,5,Manandhar unisex,Sajain,2006,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
12,12,13,3,Shahi unisex,prependra,2007,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
13,13,14,4,Hamro salon,sudan,2008,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
14,14,15,5,Nature Makeover,Bibek,2009,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
15,15,16,3,anjalin unisex,anjali,2010,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
16,16,17,2,mahesh Unisex,Bibek,2011,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
17,17,18,2,Bijay unisex,Bijay,2012,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
18,18,19,3,Manandhar unisex,Sajain,2013,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
19,19,20,5,Shahi unisex,prependra,2014,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
20,20,21,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
21,21,22,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
22,22,23,2,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
23,23,24,2,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
24,24,25,3,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
25,25,26,4,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
26,26,27,5,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
27,27,28,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
28,28,29,2,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
29,29,30,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
30,30,31,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
31,31,32,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...
32,32,33,1,Manandhar unisex,Sajain,2001,rahul,https://lh5.googleusercontent.com/p/AF1QipNdy0...
33,33,34,1,Shahi unisex,prependra,2001,susil,https://lh5.googleusercontent.com/p/AF1QipN-rN...
34,34,35,1,Hamro salon,sudan,2001,madhu,https://lh5.googleusercontent.com/p/AF1QipNTD_...
35,35,36,1,Nature Makeover,Bibek,2001,Raj,https://lh5.googleusercontent.com/p/AF1QipOfC8...
36,36,37,1,anjalin unisex,anjali,2001,anjala,https://lh5.googleusercontent.com/p/AF1QipMUbt...
37,37,38,1,mahesh Unisex,Bibek,2001,mahesh,https://lh5.googleusercontent.com/p/AF1QipMDiy...
38,38,39,1,Bijay unisex,Bijay,2001,Bijita,https://lh5.googleusercontent.com/p/AF1QipNdy0...

In [ ]:
final_ratings.pivot_table(index='Name,'columns='userid',values='ratings')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4086073836.py, line 1)

In [ ]:
final_ratings.pivot_table(index='Name',columns='userid',values='ratings')

userid,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
Name,,,,,,,,,,,,,,,,,,,,,
Bijay unisex,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Hamro salon,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Manandhar unisex,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
Nature Makeover,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Shahi unisex,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
anjalin unisex,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
mahesh Unisex,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [ ]:
pt=final_ratings.pivot_table(index='Name',columns='userid',values='ratings')

In [ ]:
pt

userid,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
Name,,,,,,,,,,,,,,,,,,,,,
Bijay unisex,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Hamro salon,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Manandhar unisex,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
Nature Makeover,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Shahi unisex,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
anjalin unisex,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
mahesh Unisex,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [ ]:
pt.fillba(0,inplace=True)

AttributeError: 'DataFrame' object has no attribute 'fillba'

In [ ]:
pt.fillna(0,inplace=True)

In [ ]:
pt

userid,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
Name,,,,,,,,,,,,,,,,,,,,,
Bijay unisex,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Hamro salon,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Manandhar unisex,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Nature Makeover,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Shahi unisex,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
anjalin unisex,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
mahesh Unisex,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
From sklearn.metrics.pairwise import cosine_similarity

SyntaxError: invalid syntax (3314705286.py, line 1)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_similarity(pt)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [ ]:
similarity_scores = cosine_similarity(pt)

In [ ]:
similarity_scores

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [ ]:
similarity_scores.shape

(7, 7)

In [ ]:
def recommend(Name):
    #index fetch
    return suggestaion

In [ ]:
np.where(pt.index=='Bijay unisex')[0][0]

0

In [ ]:
def recommend(Name):
    #index fetch
    index= np.where(pt.index=='Bijay unisex')[0][0]
    distance =similarity_score[index]
    return suggestaion

In [ ]:
similarity_score[0]

NameError: name 'similarity_score' is not defined

In [ ]:
similarity_score[1]

NameError: name 'similarity_score' is not defined

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1]

SyntaxError: incomplete input (3430315688.py, line 1)

In [ ]:
def recommend(Name):
    #index fetch
    index= np.where(pt.index=='Bijay unisex')[0][0]
    distance =similarity_score[index]
    return suggestaion

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1]

SyntaxError: incomplete input (3430315688.py, line 1)

In [ ]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==Name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = Salon[books['Name'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Name')['Name'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['ovner'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['image_url'].values))
        
        data.append(item)
    
    return data

In [ ]:
similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]

NameError: name 'index' is not defined

In [ ]:
similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:1]
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==Name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:1]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = Salon[books['Name'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Name')['Name'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['ovner'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['image_url'].values))
        
        data.append(item)
    
    return data

NameError: name 'index' is not defined

In [ ]:

def recommend(book_name):
    # index fetch
    index = np.where(pt.index==Name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1]
    data = []
    for i in similar_items:
        item = []
        temp_df = Salon[books['Name'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Name')['Name'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['ovner'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['image_url'].values))
        
        data.append(item)
    
    return data

In [ ]:
recommend('Hamro salon')

NameError: name 'Name' is not defined

In [ ]:
recommend('Hamro salon')

NameError: name 'Name' is not defined

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1]

SyntaxError: incomplete input (3430315688.py, line 1)

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1]

SyntaxError: incomplete input (3430315688.py, line 1)

In [ ]:
sorted(list(enumerate(similarity_scores[0]))

SyntaxError: incomplete input (1508378030.py, line 1)

In [ ]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

NameError: name 'pickle' is not defined

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1]

SyntaxError: incomplete input (3278686812.py, line 1)

In [ ]:
similarity_scores[index]

NameError: name 'index' is not defined

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1]

SyntaxError: incomplete input (3430315688.py, line 1)

In [ ]:
(similarity_scores[0]

SyntaxError: incomplete input (2164688604.py, line 1)

In [ ]:
Simalarity_scores[0]

NameError: name 'Simalarity_scores' is not defined

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
similarity_score[0]

NameError: name 'similarity_score' is not defined

In [ ]:
enumerate(similarity_scores[0])

In [ ]:
list(enumerate(similarity_scores[0]))

[(0, 1.0), (1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0), (6, 0.0)]

In [ ]:
sorted(list(enumerate(similarity_scores[0])))

[(0, 1.0), (1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0), (6, 0.0)]

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1])

[(1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0), (6, 0.0), (0, 1.0)]

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],rev=True)

TypeError: 'rev' is an invalid keyword argument for sort()

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)

[(0, 1.0), (1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0), (6, 0.0)]

In [ ]:
sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)[1:2]

[(1, 0.0)]

In [ ]:
def recommend(Name):
    #index fetch
    index= np.where(pt.index=='Bijay unisex')[0][0]
    Similar_items =sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)[1:0]
    for i in similar_items:
        print(i[0])

In [ ]:
pt.index[2]

'Manandhar unisex'

In [ ]:
def recommend(Name):
    #index fetch
    index= np.where(pt.index=='Name')[0][0]
    Similar_items =sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)[1:2]
    for i in similar_items:
        print(i[0])

In [ ]:
def recommend(Name):
    #index fetch
    index= np.where(pt.index=='index')[0][0]
    Similar_items =sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:2]
    for i in similar_items:
        print(i[0])

In [ ]:
def recommend(Name):
    #index fetch
    index= np.where(pt.index=='Name')[0][0]
    Similar_items =sorted(list(enumerate(similarity_scores[0])),key=lambda x:x[1],reverse=True)[1:2]
    for i in similar_items:
        print(i[0])

In [ ]:
pt.index[5]

'anjalin unisex'

In [ ]:
pt.index[6]